<section class="project-list">
    <div class="project-item">
      <h2>Enotes</h2>
      <p>An application for taking notes and organizing them effectively.</p>
      <a href="https://github.com/overlord1510/E_Notes2" target="_blank">View on GitHub</a>
    </div>
    <div class="project-item">
      <h2>Attendance Management System</h2>
      <p>An application for managing attendance records in educational institutions or workplaces.</p>
      <a href="https://github.com/overlord1510/Attendance-Management-System" target="_blank">View on GitHub</a>
    </div>
  </section>
  