<section class="profile-section">
    <aside class="profile-description">
        <p><span class="name">{{typedName}}</span> <br> <span class="role">{{role}}</span></p>
        <p>
            Tech-savvy B.Tech student specializing in Information Technology at Asansol Engineering College with a CGPA
            of
            8.759. Proficient in Java, SQL, HTML, CSS, and Spring Framework. Passionate about developing efficient,
            user-friendly web applications. Ready to bring innovative solutions and collaborate with dynamic teams.
        </p>
        <div class="buttons">
            <button class="button primary" routerLink="contacts">Contact</button>
            <a class="button secondary" href="assets/Resume_MD ASAD ALI HAIDAR.pdf" download="resume.pdf">Download Resume</a>
        </div>
    </aside>
    <aside class="profile-image">
        <img src="assets/Profile.png" alt="Profile Image">
    </aside>
</section>