<nav class="navbar">
    <div class="navbar-brand">
        <a routerLink="/">Md Asad Ali Haidar</a>
    </div>
    <ul class="navbar-menu" [ngClass]="{'active': isMenuOpen}">
        <li class="navbar-item"><a routerLink="/" (click)="toggleMenu()">Home</a></li>
        <li class="navbar-item"><a routerLink="/about" (click)="toggleMenu()">About</a></li>
        <li class="navbar-item"><a routerLink="/services" (click)="toggleMenu()">Services</a></li>
        <li class="navbar-item"><a routerLink="/contact" (click)="toggleMenu()">Contact</a></li>
    </ul>
    <div class="navbar-toggle" (click)="toggleMenu()">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
</nav>